<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<body>
<meta charset="UTF-8">
<title>entry</title>
<!--<link href="./entry.css" type="text/css" rel="stylesheet">-->

<div>
    <form method="post" action="/entry">
        <input type="text" class="advancedSearchTextbox" name="emailAddress" placeholder="Email Address"/>
        <br/><input type="text" class="advancedSearchTextbox" name="school_Name" placeholder="School Name"/>
        <br/><input type="text" class="advancedSearchTextbox" name="location" placeholder="Location"/>
        <br/><input type="text" class="advancedSearchTextbox" name="application_Deadline" placeholder="Application Deadline"/>
        <br/><input type="text" class="advancedSearchTextbox" name="notes" placeholder="Notes"/>

        <br/><br/><input type="submit" value="Add Entry"/>
    </form>

</div>
</head>
</body>
</html>

