<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College Planning</title>
    <link href="./styles.css" type="text/css" rel="stylesheet">

</head>
<body>
<img src="https://live.staticflickr.com/65535/48580494451_69b9f9ac10_m.jpg" alt="College Just Ahead" width="350" height="225">
<h1>College Planning</h1>
<div class="about">
    <p> Welcome!  I hope that this site will be useful in planning your educational future.<br/>
        After registering, you will be able to add:</p>
    <ul style="list-style-type: none;">
        <li>School Name</li>
        <li>Location</li>
        <li>Application Deadlines</li>
        <li>Pros & Cons of each location</li>
    </ul>
    <p>You'll be able to come back to review or add to your entries.<br/>
        You can search either by school name or from a list of schools you have added.</p>
</div>

<form method="post" action="/welcome">
    <br/><input type="submit" value="Click here to continue"/></form>
    <br/>

<footer>
    <p>Created by: Katherine Golden<br>
        CoderGirl 2019 Final Project<br>
        <a href="mailto:kegolden78@gmail.com">Email</a></p>
</footer>
</body>
</html>
