<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College Planning</title>
    <link href="./Styles.css" type="text/css" rel="stylesheet">

</head>
<body>
<img src="./images/collegesign.jpg" alt="College Just Ahead" width="400" height="300">
<h1>College Planning</h1>
<div class="about">
    <p> I plan for this app to store the colleges that each user is interested in attending.<br>
        They will be able to add:</p>
    <ul>
        <li>College Name</li>
        <li>Location</li>
        <li>Application Deadlines</li>
        <li>Personal Notes</li>
    </ul>
    <p>When they want to retrieve their information, they can search by the college name or from a list of their colleges.</p>
</div>

<!--<form method="post" action="college-planning/welcome">
    <br/><br/><input type="submit" value="Click here to continue"/></form>-->

<footer>
    <p>Created by: Katherine Golden<br>
        CoderGirl 2019 Final Project<br>
        <a href="mailto:kegolden78@gmail.com">Email</a></p>
</footer>
</body>
</html>
