<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <h3>Please create your account below to begin planning your college journey.</h3>

    <!--<br/>Current number of users registered: <span th:text="${users.size}"/>
    <br/>-->

    <ul>
        <li th:each="users: ${users}" th:text=""${users.userName}/>
    </ul>

    <br/>
    <form method="post" action="/Welcome/new">
        User Name: <input type="text" name="userName"/>
        <br/>First Name: <input type="text" name="firstName"/>
        <br/>Last Name: <input type="text" name="lastName"/>
        <br/>Email Address: <input type="text" name="email"/>
        <br/><br/><input type="submit" value="Create User"/>
    </form>
    <br/>

</head>
<body>

</body>
</html>