<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<body>
<meta charset="UTF-8">
<title>welcome</title>
<link href="./register.css" type="text/css" rel="stylesheet">

<div class="wrapper">
    <div class="one">
        <h3>Please create your account below.  <!--If you're already registered, please click the Log In button.--></h3>
        <br/>
    </div>
    <div class="two">
        <form method="post" action="welcome/entry">
            <input type="text" class="advancedSearchTextbox" name="emailAddress" placeholder="Email Address"/>
            <br/><input type="text" class="advancedSearchTextbox" name="school_Name" placeholder="School Name"/>
            <br/><input type="text" class="advancedSearchTextbox" name="location" placeholder="Location"/>
            <br/><input type="text" class="advancedSearchTextbox" name="application_Deadline" placeholder="Application Deadline"/>
            <br/><input type="text" class="advancedSearchTextbox" name="pros" placeholder="Pros"/>
            <br/><input type="text" class="advancedSearchTextbox" name="cons" placeholder="Cons"/>

            <br/><br/><input type="submit" value="Submit Entry"/>
        </form>


        </form>
        <!--<br/><br/>Current number of users registered: <span th:text="${count}"/>
        <br/>
        <ul>
            <li th:each="users: ${users}" th:text="${users.userName}"/>
        </ul>-->
    </div>


    <div class="three">
        <form method="get" action="/list">

            <input type="text" class="advancedSearchTextbox" name="emailAddress" placeholder="Email Address"/>
            <br/><br/><input type="submit" value="View school list">

        </form>
       <br/><br/>
        <a href="https://imgur.com/KQRCS2b"><img src="https://i.imgur.com/KQRCS2b.png" title="source: imgur.com" alt="The future belongs to those who believe in the beauty of their dreams   -- Eleanor Roosevelt" width="225" height="350"></a>
    </div>
</div>

</body>
</head>
</html>